/* RESETTING THE MARGINS FOR THE BODY */
/** {
  border: 1px solid #f00 !important;
}*/

:root{
  --primary-color: #B2BEB5;
  --secondary-color: #a4b2a8;
  --tertiary-color: #e9edea;
  --quartinary-color: #c0cac2;
  --quinary-color: #637567;
  --rich-black: #0C0B13;
}

/*GENERAL RESETTING*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,500&display=swap');*/
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
}

/* CREATING THE NAV BAR */

header {
  background-color: var(--secondary-color);
  width: 100%;
  height: 5em;
  display: flex;
}

h1 {
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

/*********************************/
/* CSS FOR THE NAVIGATION */
/*********************************/

.header_nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4em;
  text-transform: uppercase;
}

.nav_list ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  height: 100%;
  margin: 0;
}

.nav_list .current {
  color: var(--tertiary-color);
  font-weight: 500;
}

.nav_list .current:hover {
  color: var(--tertiary-color);
  font-weight: 500;
  border-bottom: none;
}

.header_nav h2 {
  font-weight: 400;
}

.header_nav a {
  padding: 10px;
  color: var(--rich-black);
}

.header_nav ul {
  list-style: none;
}

.header_nav li {
  font-weight: 300;
}

.header_nav ul li a:hover {
  border-bottom: 1px solid var(--tertiary-color);
}

.header_nav ul li a:visited {
  text-decoration: none;
}

/*********************************/
/* CSS FOR MOBILE NAVIGATION*/
/*********************************/

.mobile_nav {
  background-color: var(--secondary-color);
}

.mobile_nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}

.mobile_nav li{
  margin-bottom: 0.5em;
}

.mobile_nav a {
  color: var(--rich-black);
}

/*.header_nav ul li a:active {
  color: white;
  border-bottom: none;
}*/

/*********************************/
/* CSS FOR THE MAIN PAGE */
/*********************************/

/*UPPER PORTION OF MAIN PAGE*/

.hero_landing {
  width: 100%;
  height: 60vh;
}

.hero_body {
  width: 60%;
  margin: 5em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*setting to inline block to ensure the width is only as big as the content*/
.portrait_picture {
  width: 30%;
  height: 100%;
  display: inline-block;
}

/*margin set because the element was too close to the end of the container*/
.declaration_statement {
  margin: 0 2.5em 0 0;
}

.declaration_statement h1 {
  display: inline-block;
  width: 100%;
  font-weight: 400;
}

.declaration_statement p {
  font-weight: 300;
}

.main_lower {
  margin: 0 auto 4em auto;
  width: 60%;
  height: 40%;
}

.main_lower p {
  font-weight: 300;
}

.background_info p:last-child {
  margin-top: 2em;
}

/*Footer class display flex and setting block elements to inline-block*/

footer {
  height: 100%;;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 4em;
  width: 100%;
}
.footer p{
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

/***************************/
/*CSS FOR THE RESUME PAGE*/
/***************************/

.resume_body {
  width: 60%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume_body h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--tertiary-color);
  font-weight: 400;
}

.resume_body h4 {
  font-weight: 300;
  text-transform: uppercase;
}

.resume-text h5 {
  font-weight: 300;
  text-transform: uppercase;
}

.resume_body p, li {
  font-weight: 300;
}

.title_date_div {
  display: flex;
  justify-content: space-between;
}

.title_date_div h5 {
  font-style: italic;
  font-weight: 300;
}

.skill_div {
  display: flex;
  justify-content: space-between;
/*  padding-left: 2em;
  padding-right: 2em;*/
}
/***************************/
/*CSS FOR THE CONTACT PAGE*/
/***************************/

.projects_container {
  display: flex;
  grid-gap: 2em;
  width: 65%;
  height: 100%;
  margin: 4em auto;
  flex-direction: column;
  align-items: center;
}

.project_card {
  max-width: 75%;
  height: 103%;
  background-color: var(--quartinary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2em;
}


.project_flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0.5em;
}

.project_heading {
  margin: 0 auto;
  width: max-content;
}

.project_heading h4{
  margin: 0;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
}

.project_card p {
  margin: 0 auto;
  font-size: 0.8em;
}

.proj_img {
  width: 60%;
  height: 60%;
  display: block;
  border-radius: 2em;
  margin: 1.5em auto;
}
/*For the two images that have some weird box sizing issues*/
.proj_img.bigger_img {
  margin: 1em auto;
}

.git_link {
  margin: 0 auto;
  display: flex;
}

.git_link ion-icon {
  justify-self: center;
}

/***************************/
/*CSS FOR THE GALLERY PAGE*/
/***************************/

.gallery {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 2em;
  width: 70%;
  height: 110%;
  margin: 4em auto;

}

/*Set max width to 100% and height to 100% so the image fills it's container completely*/
.gallery_img {
  max-width: 100%;
  height: auto;
}

/***************************/
/*CSS FOR THE CONTACT PAGE*/
/***************************/
.form_container {
  margin: 4em auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact_form {
  display: flex;
  flex-direction: column;
}

#contact_form input[type="text"] {
  font-size: 1em;
}

#contact_form textarea {
  font-size: 1em;
  width: 100%;
}

.contact_message {
  align-self: center;
}

.contact_message h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.contact_message p {
  font-weight: 300;
}

#email_body {
  font-family: 'Poppins', sans-serif;
}

.form_control input {
  width: 100%;
}

.form_control h3 {
  font-weight: 300;
  text-transform: uppercase;
}

form .btn-send {
  margin-top: 1em;
}

.input_container {
  height: 72%;
}

/***************************/
/*MISC AND UTILITIES CSS*/
/***************************/
.icon {
  font-size: 2em;
  color: var(--quinary-color);
  display: flex;
}

.btn_div {
  display: flex;
  justify-content: center;
}

.btn_div a {
  display: flex;
  justify-content: center;
}

.btn {
  width: 25%;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--quartinary-color);
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px var(--quinary-color) solid;
  width: fit-content;
  color: var(--quinary-color);
}

.btn-outline:hover {
  background-color: var(--quinary-color);
  color: var(--primary-color);
}

.btn:hover{
  transform: scale(.98);
}

.download-btn {
  margin-top: 1em;
}

.btn-send {
  margin-top: 2em;
}

.btn_div input[type="submit"]{
  width: 100%;
}

#error {
  color: #cd0000;
  text-transform: uppercase;
}

.error_input {
  border:solid 0.1em red;
  border-radius: 0.5em;
  background: #ffcccb;
}

/*HAMBURGER MENU BUTTON*/

.menu_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.menu_btn_burger{
  width: 25px;
  height: 3px;
  background: var(--rich-black);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.menu_btn_burger::before,
.menu_btn_burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--rich-black);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

/*ANIMATION WHEN BUTTON CLICKED*/

.menu_btn_burger::before {
  transform: translateY(-8px);
}

.menu_btn_burger::after {
  transform: translateY(8px);
}

.menu_btn.open .menu_btn_burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu_btn.open .menu_btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu_btn.open .menu_btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*MOBILE NAVIGATION FOR BUTOTN CLICK*/

.mobile_nav.invisible {
  display: none;
}

/***************************/
/*******MEDIA QUERIES*******/
/***************************/
@media screen and (min-width: 1024px) {
  .menu_btn {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }
  .form_control h3 {
    font-size: 2em;
  }


  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

@media screen and (max-device-width: 800px) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 55vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-12em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/*  @media screen and (max-width:500px) {

}*/

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
/*CONTACT FORM SPACING IS DIFFERENT FOR THIS*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 55vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-12em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 800px) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/*!* ----------- iPhone 11 ----------- *!
@media only screen
and (min-device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 3) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-15em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}*/

/* ----------- iPhone 11 Pro----------- */
@media only screen
and (min-device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/* ----------- iPhone 11 Pro Max----------- */
@media only screen
and (min-device-width: 414px)
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 3) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/* ----------- iPhone 12 & 12 Pro----------- */
@media only screen
and (min-device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-5em);;
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}

/* ----------- iPhone 12 Pro Max----------- */
@media only screen
and (min-device-width: 428px)
and (device-height: 926px)
and (-webkit-device-pixel-ratio: 3) {
  .nav_list {
    display: none;
  }

  header {
    height: 10em;
  }

  .header_nav h2 {
    font-size: 3em;
  }

  .menu_btn_burger,
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    width: 75px;
    height: 6px;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  .menu_btn {
    height: 150px;
  }

  .mobile_nav li {
    font-size: 2em;
  }

  .hero_body {
    flex-direction: column;
  }

  .declaration_statement {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .portrait_picture {
    width: 90%;
  }

  .hero_landing {
    height: 50vh;
  }

  .declaration_statement h1 {
    font-size: 3em;
  }

  .declaration_statement p {
    font-size: 1.8em;
  }

  .background_info p {
    font-size: 1.8em;
  }

  footer {
    height: 10em;
  }

  footer p {
    font-size: 2em;
  }

  .icon {
    font-size: 4em;
  }

  .resume_body {
    font-size: 2em;
  }

  .resume_body p, li {
    font-size: 0.8em;
  }

  .title_date_div {
    flex-direction: column;
  }

  .resume_body h4 {
    font-size: .9em;
    margin-bottom: -0.7em;
  }

  .title_date_div h5 {
    font-size: 0.7em;
  }

  .skill_div {
    flex-direction: column;
  }

  .btn_div a {
    margin-top: 0;
  }

  .form_container {
    width: 70%;
    height: 79vh;
  }

  .form_control h3 {
    font-size: 2em;
  }

  .contact_message h3 {
    font-size: 2.5em;
  }

  .contact_message p {
    font-size: 1.7em;
  }

  .container.grid h3 {
    font-size: 2em;
  }

  #contact_form {
    transform: translateY(-3em);
  }

  #contact_form input[type="text"] {
    font-size: 1.5em;
  }

  .form_control input {
    height: 2.5em;
  }

  .btn_div input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .projects_container {
    display: flex;
    grid-gap: 2em;
    width: 75%;
    margin: 4em auto;
    flex-direction: column;
  }

  .project_heading {
    font-size: 2em;
  }

  .project_card p {
    margin: 0 0.5em 0.5em 0.5em;
    font-size: 1.4em;
  }
}