/*
* {
  border: 1px solid #f00 !important;
}
*/

html {
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

.hero_landing {
    width: 100%;
    height: 20vh;
}

.portrait_picture {
    display: none;
}

footer {
    display: none;
}

.contact {
    width: 100%;
}

.contact_form {
    margin-right: 1.5em;
}