* {
  border: 1px solid #f00 !important;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
}

#degrees_div {
    width: 100%;
    height: 100%;
}
