body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top:20px;
}

table td, table th {
    border: 1px solid #f9f1ed;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f8f5f1;
}

table tr:hover {
    background-color: #f9f1ed;
}

table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #ed6b29;
    color: white;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30vw;
    height: 52vh;
    border: 0.2em solid grey;
    border-radius: 1.5em;
}

#degrees_div {
    align-self: center;
    width: 90%;
    height: 90%;
    padding: 0.5em;
}

.degree_container {
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.button_div {
    display: flex;
    justify-content: center;
}

#get_degrees[disabled] {
    opacity: 0.65;
    cursor: not-allowed;
}
